<footer>
  <div class="wrap">
    <div class="footTop">
      <div class="footBrand">Azure SQL Developer Hub<p>Build applications with Azure SQL.</p></div>
      <div class="footLinks">
        <a href="{{ '/' | relative_url }}#get-running" data-event="site/action" data-event-action="pathSelected" data-event-path-id="get-running">Get started</a>
        <a href="{{ '/' | relative_url }}#build" data-event="site/action" data-event-action="pathSelected" data-event-path-id="build">Build examples</a>
        <a href="{{ '/' | relative_url }}#watch" data-event="site/action" data-event-action="pathSelected" data-event-path-id="watch">Videos</a>
        <a href="{{ site.azure_sql_docs }}" data-event="site/action" data-event-action="outboundClicked" data-event-destination-id="azure-sql-docs" data-event-destination-type="docs">Documentation</a>
      </div>
    </div>
    <div class="footBottom">
      <span>Microsoft Azure SQL</span>
      <span>
        <a href="{{ '/privacy.html' | relative_url }}">Privacy</a>
        <a href="{{ site.repo }}/issues/new" data-event="site/action" data-event-action="outboundClicked" data-event-destination-id="github-issues" data-event-destination-type="feedback">Feedback</a>
        <a href="{{ site.repo }}" data-event="site/action" data-event-action="outboundClicked" data-event-destination-id="dev-hub-repository" data-event-destination-type="github">GitHub</a>
      </span>
    </div>
  </div>
</footer>
