<a class="skip-link" href="#main">Skip to content</a>
<nav class="nav" aria-label="Primary">
  <div class="wrap navin">
    <a class="brand" href="{{ '/' | relative_url }}">
      <img class="logo" src="{{ '/assets/img/azure-sql-database.svg' | relative_url }}" alt="" width="28" height="28" aria-hidden="true">
      <span>Azure SQL Developer Hub</span>
    </a>
    <div class="navlinks">
      <a href="{{ '/' | relative_url }}#get-running">Quickstarts</a>
      <a href="{{ '/' | relative_url }}#build">Build</a>
      <a href="{{ '/' | relative_url }}#skills">Skills</a>
      <a href="{{ '/' | relative_url }}#watch">Videos</a>
    </div>
    <div class="navright">
      <a class="utility" href="https://microsoft.qualtrics.com/jfe/form/SV_9ytUzrnNnbcxPlI" target="_blank" rel="noopener" data-event="nav_feedback">Submit feedback</a>
      <a class="utility github" href="{{ site.repo | default: 'https://github.com/microsoft/azure-sql-dev-hub' }}" target="_blank" rel="noopener" data-event="nav_github_repo"><span class="github-mark" aria-hidden="true"><svg viewBox="0 0 24 24"><path d="M12 .7a11.3 11.3 0 0 0-3.57 22c.57.1.78-.25.78-.55v-2.1c-3.17.69-3.84-1.34-3.84-1.34-.52-1.32-1.27-1.67-1.27-1.67-1.04-.71.08-.7.08-.7 1.15.08 1.75 1.18 1.75 1.18 1.02 1.75 2.67 1.25 3.32.96.1-.74.4-1.25.72-1.54-2.53-.29-5.2-1.27-5.2-5.65 0-1.25.45-2.27 1.18-3.07-.12-.29-.51-1.45.11-3.02 0 0 .96-.31 3.12 1.17a10.8 10.8 0 0 1 5.68 0c2.16-1.48 3.12-1.17 3.12-1.17.62 1.57.23 2.73.11 3.02.73.8 1.18 1.82 1.18 3.07 0 4.39-2.67 5.36-5.21 5.64.41.36.77 1.06.77 2.14v3.17c0 .3.21.66.79.55A11.3 11.3 0 0 0 12 .7Z"/></svg></span>GitHub repo</a>
    </div>
  </div>
</nav>
